.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #1c7ed6;
  border: 1px solid #1c7ed6;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #1864ab;
  border-color: #1864ab;
}
